{% extends 'rubikamp/base.html' %}
{% load static %}

{% block content %}
<div class="welcome-box">
  <h1>فانتوم؛ سایت‌ساز هوشمند برای فروشگاه‌های آنلاین</h1>
  <p>
    فانتوم یک پلتفرم سایت‌ساز هوشمند بر پایه هوش مصنوعی است که برای کمک به فروشگاه‌های آنلاین کوچک و متوسط طراحی شده.
    ما با هدف حذف موانع فنی و مالی در مسیر ورود به فضای دیجیتال، ابزاری ساخته‌ایم که تنها با چند کلیک، یک وب‌سایت کامل،
    شخصی‌سازی‌شده و آماده فروش را در اختیار کاربران قرار می‌دهد؛ بدون نیاز به دانش برنامه‌نویسی یا طراحی.
  </p>

  <p>
    مشکل اصلی بسیاری از کسب‌وکارهای کوچک، هزینه بالای طراحی سایت و پیچیدگی‌های فنی آن است.
    فانتوم این مشکل را با یک راه‌حل سریع، دقیق و مقرون‌به‌صرفه حل کرده است.
    با استفاده از الگوریتم‌های هوشمند، کاربران می‌توانند تنها با پاسخ‌دادن به چند سؤال ساده، سایت اختصاصی خود را تحویل بگیرند.
    ساختار پلن‌دار SaaS ما نیز این امکان را می‌دهد که کسب‌وکارها با توجه به نیازشان، از نسخه رایگان تا خدمات پیشرفته‌تر مانند سئو و مشاوره فروش، بهره‌مند شوند.
  </p>

  <p>
    تیم ما متشکل از افراد جوان، متخصص و خلاق است که با انگیزه بالا در حال ساختن آینده‌ای بهتر برای فروش آنلاین هستند.
    ما به تجربه کاربری، سادگی و نتیجه‌محوری باور داریم و تلاش می‌کنیم ابزاری بسازیم که نه‌تنها یک سایت،
    بلکه یک موتور رشد برای فروشگاه‌های آنلاین باشد. فانتوم آمده تا ساخت سایت را از یک دغدغه پرهزینه،
    به یک تجربه ساده، سریع و لذت‌بخش تبدیل کند.
  </p>
</div>
<script src="{% static '/js/rubikamp/home.js' %}"></script>
{% endblock %}
