{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/rubikamp/base.css' %}" />
  <link rel="stylesheet" href="{% static 'css/rubikamp/home.css' %}" />
  <title>فانتوم | داشبورد</title>
</head>
<body>
  <div class="dashboard-container">
    <!-- Top Bar -->
    <div class="top-bar">
      <!-- User Info -->
        {% if user.is_authenticated %}
        <div class="profile-wrapper" onclick="toggleDropdown()">
        {% if user.profile and user.profile.url %}
            <img src="{{ user.profile.url }}" alt="پروفایل" class="profile-img" />
        {% else %}
            <div class="profile-img" style="background-color: var(--border); display: flex; align-items: center; justify-content: center;">👤</div>
        {% endif %}
        <div class="profile-info">{{ user.username }}</div>
            <div id="userDropdown" class="dropdown">
                <a href="#">آمار کاربر</a>
                <form id="logout-form" action="{% url 'rubikamp:user-logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" style="all: unset; cursor: pointer;">خروج</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="profile-wrapper">
            <a href="{% url 'rubikamp:user-login' %}" class="create-btn">ورود</a>
        </div>
        {% endif %}


      <!-- Navigation -->
      <nav class="top-nav">
        <a href="#home">فانتوم</a>
        <a href="#about">درباره ما</a>
      </nav>
    </div>

    <!-- Main Content -->
    <main class="main-content">
      <div class="welcome-box">
        <h2>تبریک بابت ثبت‌نام شما! 🎉</h2>
        <p>اکنون فقط کافیست این فرم را تکمیل کنید تا وب‌سایت شخصی‌سازی شده‌ی شما به صورت خودکار ساخته شود. ما از الگوریتم‌هایی برای تولید ساختار سایت شما استفاده می‌کنیم. شروع کنیم؟</p>
        <button class="create-btn">ساخت وب‌سایت شما</button>
      </div>
    </main>
  </div>
</body>
<script src="{% static 'js/rubikamp/home.js' %}"></script>
</html>
